# Ignore virtual environment directory
.venv/

# Ignore data directory
data/raw
date/processed

# Ignore notebooks that create transaction files
notebooks/transaction_file_creator/

# Ignore pychache folders
__pycache__/

# Ignore DB config
.streamlit/secrets.toml

# Ignore DB connection test
test_db.py